/*---Global Variables --*/

$maincolor: #1e3799;
$secondarycolor: #4a69bd;

%message {
 font-family: 'Lato', 'Arial', sans-serif;
 font-size: 18px;
 content: normal;
 }


* {
    html {
    background-color: #ffff;
    color: #555;
    font-size: 20px;
    font-weight: 300;
    text-rendering: optimizeLegibility;
    }
    body {
    font-family: 'Lato', 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    }
}

footer {
    margin-top: 60px;
}

.box {
    margin: 30px auto 25px auto;
    padding: 0;
    text-align: center;
}

.text-center {
    text-align: center;
}

.Logo {
    font-size: 200%;
    padding: 0;
}

/*---Nav Bar --*/

.navbar {
  padding: .9rem;
}

.navbar {
    padding-right: 20px;
}

.nav-link {
  font-size: 1.1em !important;
}


/*---Header Sections --*/

h1,
h2,
h3 {
    font-weight: 300;
    text-transform: uppercase;
}

h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 240%;
    word-spacing: 3px;
    letter-spacing: 1px;
}

h2 {
    font-size: 180%;
    word-spacing: 2px;
    text-align: center;
    margin: 30px;
    letter-spacing: 1px;
}

h3 {
    font-size: 110%;
    margin-bottom: 15px;
}

h2:after {
    display: block;
    height: 2px;
    background-color: $maincolor;
    content: "";
    width: 80px;
    margin: auto;
    margin-top: 30px;
}

/*---Carousel --*/

.carousel-inner img {
    display: block;
    height: 741px;
    width: auto;
  }

.carousel-caption {
  position: absolute;
  top: 35%;
  transform: translateY(-50%);
}

.carousel-caption h5 {
@extend %message;
  font-size: 500%;
  text-transform: uppercase;
}

.carousel-caption p {  
  font-size: 200%;
  font-weight: 500;
  padding-bottom: 1rem;
}


// 3 Columns //

.columns3 ul {
    list-style: none;
    display: block;
    text-align: center;
    letter-spacing: 1px;
    font-size: 125%;
    margin-bottom: 35px;
 }

.columns3 h1 {
    padding: 35px;
}


// contact us Image //

.gradient-img img {
    display: block;
    height: 700px;
    width: auto;
    margin-bottom: 80px;
}

.cards-section {
    margin-bottom: 80px;
}


// Equipment Page //

table {
    width: 100%;
    font-size: 110%;
    text-align: center;
    margin-top: 60px;
    border-collapse: collapse;
}

th, td {
    border: 2px solid black;
    padding: 8px;
}

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {
  
}
@media (max-width: 576px) {
  
}


/*--- Bootstrap Padding Fix --*/
[class*="col-"] {
    padding: 1rem;
}

/*---Firefox Bug Fix --*/
.carousel-item {
  transition: -webkit-transform 0.5s ease;
  transition: transform 0.5s ease;
  transition: transform 0.5s ease, -webkit-transform 0.5s ease;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
}